@media only screen and (max-width:1200px) {
}

@media only screen and (max-width:1100px) {
    .select2-container.form-control {
        margin-bottom: 5px !important;
    }

    .input-group-btn {
        z-index: 0;
    }

    .input-group .form-control {
        z-index: 0;
    }

    
}

@media only screen and (max-width:991px) {
    .panel-body {
        margin-bottom: 15px;
    }
   
    .ui-widget.ui-widget-content {
        margin-bottom: 15px;
    }

    .breadcrumb {
        padding-top: 40px;
    }

    .breadcrumbP {
        margin-bottom: 0px;
    }

    .top-space {
        margin-top: 20px;
    }

    .success-tbn {
        margin-top: 10px;
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    /*.nav-md .container.body .col-md-3.left_col{
         width:0;
     }*/
}

@media only screen and (max-width:576px) {
    .main_container .top_nav {
        display: block;
        margin-left: 0px;
    }

    .select2-chosen, .select2-choice > span:first-child, .select2-container .select2-choices .select2-search-field input {
        font-size: 13px;
    }

    .input-group .form-control {
        font-size: 13px;
    }
}

@media only screen and (max-width:480px) {
}
